* {
    margin: 0;
    padding: 0;
}

.MF-list {
    display: flex;
    list-style-type: none;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.MF-list-item {
    width: 20%;
    margin: 0 5px;
    cursor: pointer;
}

.MF-list-item:first-child {
    width: 20%;
    margin: 0 5px 0 0;
}

.MF-list-item img {
    height: 200px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 674px) {
    .MF-list-item {
        width: 50%;
        margin: 0 5px;
        cursor: pointer;
    }

    .MF-list-item:first-child {
        width: 50%;
        margin: 0 5px 0 0;
    }
}